<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Projet<b>Crud</b></a>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link" routerLink="list">Home</a>
            <a href="#" class="nav-item nav-link" routerLink="list">Liste</a>
            <a href="#" class="nav-item nav-link" routerLink="new">New</a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Services</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Web Design</a>
                </div>
            </div>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <div class="input-group-append">
                    <span class="input-group-text">
						<i class="material-icons">&#xE8B6;</i>
					</span>
                </div>
            </div>
        </form>
        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a routerLink="login" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="signup" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Sign up</a>
            </div>
        </div>
    </div>
</nav>