<h1 class="text-scondary">details</h1>
<table class="table">
    <tr>
        <td>Id</td>
        <td>{{p.id }}</td>
    </tr>
    <tr>
        <td>Nom :</td>
        <td>{{p.nom }}</td>
    </tr>
    <tr>
        <td>Prenom :</td>
        <td>{{p.prenom }}</td>
    </tr>
    <tr>
        <td>Age :</td>
        <td>{{p.age }} ans</td>
    </tr>
    <tr>
        <td>Poids :</td>
        <td>{{p.poids }} kg</td>
    </tr>
    <tr>
        <td>Taille :</td>
        <td>{{p.taille }} m</td>
    </tr>
    <tr>
        <td>Profil :</td>
        <td>{{ p.profil }}</td>
    </tr>
</table>
<div>
    <p>
        <a routerLink="/list"> Retour à la liste</a>
    </p>
</div>