<h1 class="text-primary">Modifier la personne</h1>
<form class="form-group" [formGroup]="editPersonne" (ngSubmit)='updatePersonne()'>
    <div class="form-group row">
        <div class="col-md-4"><label for="nom">Nom</label>
            <input type="text" name="nom" id="nom" class="form-control" formControlName="nom" required>
        </div>
        <div class="col-md-4"> <label for="prenom">Prenom</label>
            <input type="text" name="prenom" id="prenom" class="form-control" formControlName="prenom" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8"><label for="age">Age</label>
            <input type="number" name="age" id="age" class="form-control" formControlName="age" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="poids">Poids</label>
            <input type="number" name="poids" id="poids" class="form-control" formControlName="poids" required>
        </div>
        <div class="col-md-4">
            <label for="taille">Taille</label>
            <input type="number" name="taille" id="taille" class="form-control" formControlName="taille" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="profil">Profil</label>
            <textarea name="profil" id="profil" class="form-control" rows="3" cols="10" formControlName="profil" required>
        </textarea>
        </div>
    </div>
    <button class="btn btn-primary">Modifer</button>
</form>